:root {
    --text_color: rgba(72, 85, 91, 1);
    --link_color: #48555B;
    --section_background-color: #ffff;
    --navigation_background-color: #ffff;
    --footer_background_color:#000000;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

body {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: var(--text_color, rgba(72, 85, 91, 1));
    line-height: 1.6em;
}

* {
    box-sizing: border-box;
}

input {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: var(--text_color, rgba(72, 85, 91, 1));
    border: none;
}

a {
    text-decoration: none;
    color: var(--link_color, #48555B);
    transition: 0.2s;
}

button {
    font-family: 'Open Sans', sans-serif;
    border: none;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.preview_wrapper {
    color: #ffff;
    align-items: center;
    justify-content: space-between;
    min-height: 769px;
    padding: 40px 0 70px 0;
    background: url("../uploads/images/bg.png") no-repeat center;
    background-size: cover;
}

.preview_title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    line-height: 1.2em;
    letter-spacing: 5px;
    margin-bottom: 30px;
}

.preview_title_container {
    text-align: center;
}

.preview_title_container p {
    font-size: 16px;
    font-weight: 600;
}

.scroll_down {
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 3px;
}

.navigation {
    background-color: var(--navigation_background-color, #ffff);
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 150px;
    border-bottom: 1px solid #E6E6E6;;
}

.navigation :not(:last-child) {
    margin-right: 45px;
}

.navigation nav {
    align-items: stretch;
    height: 100%;
}

.navigation_list li a {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
}

.navigation_list li a:hover {
    color: #00A4E5;
}

#about {
    background-color: var(--section_background-color, #ffff);
}

.about_wrapper {
    min-height: 1100px;
    padding: 57px 150px 115px 150px;
    align-items: center;
    justify-content: space-between;
}

.title_underline {
    position: relative;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 3px;
    padding-bottom: 10px;
}

.story_title.title_underline {
    margin-bottom: 30px;
}

.title_underline::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 50px;
    background-color: rgba(0, 164, 229, 1);
}

.story_title.title_underline::after {
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.story{
    margin-bottom: 20px;
    justify-content: space-between;
    width: 100%;
}

.story_article {
    width: 405px;
    margin-right: 20px;
}

.article_caption {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

.text_selection {
    color: rgba(0, 164, 229, 1);
}

.story_images {
    width: 460px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 140px);
    grid-gap: 20px;
}

.story_image_container {
    position: relative;
}

.img_signature {
    position: absolute;
    color: #FFFFFF;
    top: 20px;
    left: 15px;
    font-size: 24px;
    font-weight: 800;
    width: 60px;
}

.capabilities{
    width: 100%;
    justify-content: space-between;
}

.capabilities_about {
    justify-content: space-between;
    margin-bottom: 60px;
}

.capabilities_about :not(:last-child) {
    margin-right: 10px;
}

.capabilities_title.title_underline {
    align-self: flex-start;
}

.capabilities_title.title_underline::after {
    bottom: 0;
    left: 0;
}

.capabilities_about .description {
    width: 400px;
}

.scale_animation {
    width: 150px;
    height: 40px;
    background: rgba(0, 164, 229, 1);
    color: #ffff;
    font-weight: 700;
    letter-spacing: 1px;
}

.scale_animation:hover {
    animation: scale 0.4s ease-in-out;
}

.capabilities_advantage {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: space-between;

}

.capabilities_advantage_container {
    justify-content: space-between;
    min-height: 330px;
    padding: 35px 20px;
    border: 1px solid #E6E6E6;
}

.capabilities_advantage_container :not(:last-child) {
    margin-bottom: 10px;
}

.capabilities_advantage_container img {
    height: 70px;
    width: 65px;
}

.advantage_container_caption {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
}

#want_to_build {
    align-items: center;
    min-height: 500px;
    background: url("../uploads/images/bg2.png") no-repeat center;
    background-size: cover;
    padding-top: 120px;
}

.want_to_build_title {
    text-align: center;
    width: 350px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 35px;
}

#contacts {
    background-color:var(--footer_background_color,#000000);
}

.contacts_wrapper {
    color: #FFFFFF;
    padding: 30px 150px 40px 150px;
}

#sign_up_form {
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-color: #000000;
    margin-bottom: 30px;
}

#sign_up_form label {
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 700;
    margin-right: 60px;
}

#sing_up_form_email {
    padding: 10px 15px;
    height: 40px;
    width: 300px;
}

.contacts_inner {
    min-height: 170px;
    justify-content: space-between;
    background-color: #000000;
    margin-bottom: 70px;
}

.contacts_caption {
    font-size: 15px;
    margin-bottom: 20px;
}

.company_about {
    width: 250px;
    margin-right: 20px;
    font-size: 11px;
    line-height: 1.6;
}

.company_about :not(:last-child):not(:first-child) {
    margin-bottom: 20px;
}

.links {
    width: 260px;
    margin-right: 20px;
}

.links .navigation_list {
    display: grid;
    grid-template-columns:repeat(auto-fit, 70px);
    grid-auto-rows: 30px;
    grid-column-gap: 25px;
}


.links .navigation_list li a {
    color: #FFFFFF;
    font-size: 11px;
}

.links .navigation_list li a:hover {
    color: rgba(0, 164, 229, 1);;
}

.contact_us {
    width: 140px;
    margin-right: 20px;
}

.contact_us p:not(:last-child) {
    margin-bottom: 10px;
}

.social {
    align-self: center;
}

.social img {
    width: 30px;
    height: 30px;
}

.social a:hover {
    transform: scale(1.2);
}

.social :not(:last-child) {
    margin-right: 25px;
}

.designed_by {
    width: 100%;
    background-color: #000000;
    margin-bottom: 25px;
}

.designed_by p {
    text-align: center;
}

@media (max-width: 1024px) {
    .preview_title {
        font-size: 40px;
    }

    .navigation, .about_wrapper, .contacts_wrapper {
        padding-right: 70px;
        padding-left: 70px;
    }

    .story{
        flex-direction: column;
    }

    .story_article {
        width: 100%;
        flex-direction: row;
        margin-right: 0;
    }

    .story_article .description {
        margin-bottom: 20px;
    }

    .story_article .article_caption {
        margin-bottom: 20px;
        margin-right: 20px;
        font-size: 16px;
    }

    .story_images {
        justify-content: center;
        width: 100%;
    }

    .capabilities_advantage {
        grid-template-columns: repeat(auto-fit, 250px);
        justify-content: center;
    }

    #sign_up_form {
        flex-direction: column;
    }

    #sign_up_form :not(:last-child) {
        margin-bottom: 20px;
    }

    #sign_up_form label {
        margin-right: 0;
        font-size: 20px;
    }

    #sing_up_form_email {
        width: 250px;
    }

    .contacts_inner {
        flex-direction: column;
    }

    .contacts_inner div:not(:last-child), .contacts_inner nav {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    .social :not(:last-child) {
        margin-right: 20px;
    }
}

@media (max-width: 768px) {

    .navigation {
        flex-direction: column;
        align-items: center;
        padding: 15px 10px 0 10px;
        height: 80px;
    }

    .navigation .navigation_logo {
        margin: 0;
    }

    .navigation .navigation_list li:not(:last-child) {
        margin-right: 10px;
    }

    .navigation .navigation_list li a {
        font-size: 13px;
    }

    .about_wrapper, .contacts_wrapper {
        padding-right: 20px;
        padding-left: 20px;
    }

    .story_article {
        flex-direction: column;
    }

    .story_article .article_caption {
        margin-right: 0;
    }

    .capabilities_about {
        flex-direction: column;
        align-items: center;
    }

    .capabilities_about :not(:last-child) {
        margin-right: 0;
    }

    .capabilities_title.title_underline {
        align-self: center;
    }

    .capabilities_title.title_underline::after {
        right: 0;
        margin: 0 auto;
    }

    .capabilities_about :not(:last-child) {
        margin-bottom: 20px;
    }

    .capabilities_about .description {
        width: 100%;
    }

    .want_to_build_title {
        font-size: 20px;
        width: 280px;
    }
}
